.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

.logo-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #95e1d3;
}

.nav-list {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  margin: 0;
}

.nav-item {
  margin-left: 55px;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #95e1d3;
}

.nav-link.active {
  color: #f38181;
  position: relative;
}
.nav-link:hover {
  color: #f38181;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  background-color: #f38181;
}

.our-team {
  width: 1200px;
  margin: 0 auto;
  margin-top: 125px;
}

.description {
  padding: 0 50px;
  text-align: center;
}

.above-heading {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 35px;
  color: #333333;
}

.heading {
  position: relative;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 85px;
}

.heading::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 60px;
  left: 102px;
  bottom: -40px;
  background-color: #f38181;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  color: #b6b6b6;
}

.team-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

ul {
  padding: 0;
}

.image {
  margin-bottom: 30px;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-variant: small-caps;
  line-height: 17px;
  text-align: center;
  color: #333333;
  margin-bottom: 11px;
}

.position {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #b6b6b6;
  margin: 0;
}

.services {
  width: 1200px;
  margin: 0 auto;
  margin-top: 68px;
  text-align: center;
}

.services .heading {
  margin-bottom: 110px;
}

.services .heading::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 60px;
  left: 130px;
  bottom: -40px;
  background-color: #f38181;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.service-items {
  display: flex;
  width: 350px;
}

.service-items:nth-child(1),
.service-items:nth-child(2),
.service-items:nth-child(3) {
  margin-bottom: 100px;
}

.service-img {
  height: 37px;
}

.services-description {
  margin-left: 20px;
  text-align: left;
  width: 330px;
}

.service-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-variant: small-caps;
  line-height: 17px;
  color: #333333;
  margin: 0 0 20px 0;
}

.service-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #b6b6b6;
  margin: 0;
}
.center-2 {
  margin-top: 27px;
  text-align: center;
}
.people {
  display: inline-block;
  margin-right: 26px;
  position: relative;
}
.people:last-child {
  margin: 0;
}
.point {
  font-family: Montserrat;
  font-size: 14px;
  font-variant: small-caps;
  color: #333333;
}
.small {
  font-family: Roboto;
  font-style: italic;
  font-size: 15px;
  color: #b6b6b6;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-top: 80px;
  padding-top: 10px;
  border-top: 1px solid #b6b6b6;
}
.text-foot {
  font-size: 14px;
  color: #333333;
  font-family: Montserrat;
}
.email {
  width: 230px;
  height: 39px;
  border: 1px solid #b6b6b6;
  padding-left: 10px;
  font-family: Roboto;
}
.email::placeholder {
  font-family: Roboto;
}
.sub {
  width: 150px;
  height: 40px;
  border: 1px solid #95e1d3;
  background-color: #95e1d3;
  color: #ffffff;
  font-size: 14px;
  font-family: Montserrat;
  text-transform: uppercase;
}
.sub:hover {
  color: royalblue;
  background-color: red;
  cursor: pointer;
}
.services {
  display: flex;
  flex-wrap: wrap;

  margin-top: 65px;
}
.ser {
  flex-basis: calc((100% - 0px) / 3);
  display: flex;
  align-items: flex-start;
  height: 74px;
  margin-bottom: 100px;
}
.ser:nth-child(4) {
  margin-bottom: 0;
}
.ser:nth-child(5) {
  margin-bottom: 0;
}
.ser:nth-child(6) {
  margin-bottom: 0;
}

.title {
  font-family: Montserrat;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}
.text-block {
  font-family: Roboto;
  font-size: 15px;
  color: #b6b6b6;
}
.colum {
  margin-left: 10px;
}
.soc {
  height: 470px;
  width: 380px;
  background: linear-gradient(
    180deg,
    rgba(239, 139, 138, 0.8) 0%,
    rgba(229, 207, 130, 0.8) 100%
  );
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.people:hover .soc {
  opacity: 1;
  transition: 1s;
}
.sm {
  width: 57px;
  height: 57px;
  margin-left: 1px;
}
.sm:first-child {
  margin-left: 0px;
}

.soc-1 {
  background-color: #95e1d3;
}
.soc-2 {
  background-color: #fce38a;
}
.foto {
  margin-top: 16px;
}
